<div style="padding: 10px">
  <h4 class="text-center text-primary">Search</h4><br>
  <div>
    <div class="d-flex">
        <input
          type="text"
          class="form-control"
          id="searchString"
          required
          [(ngModel)]="searchString"
          (keyup.enter)="search()"
          name="searchString"
          placeholder="What would you like to search for?"
        />
        <button (click)="search()" class="btn btn-primary" style="margin-left: 10px">Match</button>
        <button (click)="highlight()" class="btn btn-primary" style="margin-left: 10px">Highlight</button>
        <button (click)="searchLike()" class="btn btn-primary"style="margin-left: 10px">Like</button>
        <button (click)="viewsql()" class="btn btn-secondary"style="margin-left: 10px">SQL</button>
    </div>
  </div> <br>
  <div *ngIf="tablerows.length === 0" [innerHtml]="resultString" class="row border-secondary border" style="width: 98vw;margin: 2px;height: 70vh; overflow-y: auto;">
  </div>
  <div *ngIf="tablerows.length > 0" class="row table-responsive" style="width: 98vw;margin: 2px;height: 70vh; overflow-y: auto;">
    <table class="table table-striped table-bordered table-primary">
      <thead>
        <tr>
          <th *ngFor="let cl of tablecols" [innerHtml]="cl"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rw of tablerows">
           <td *ngFor="let cell of rw" [innerHtml]="pretty(cell)"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

