<div style="padding: 10px; overflow: auto; height: 100%">
  <h4 class="text-center text-primary">About</h4><br>
  <div class="row">
    <div class = "col-sm-12 col-md-1 col-lg-2"></div>
    <div class = "col-sm-12 col-md-10 col-lg-8">
      <h5 class="text-center text-primary">Full Text Search Demo</h5>
      <ul class = "list-group">
        <li class="list-group-item list-group-item-primary">
          <a href = "https://github.com/JohnRTurner/JohnRTurner.github.io#readme" target="_blank">Setup and Code</a>&nbsp;
          to see how to create a database and setup a table for this demo.
        </li>
        <li class="list-group-item list-group-item-light">
          Go to the <b>Setup</b> Tab, key in the fields, then press the "test and save" button.
        </li>
        <li class="list-group-item list-group-item-primary">
          Go to the <b>Search</b> Tab and test the searching.<br>
          <B>Example Searches</B>
          <ul>
            <li>Like Search</li>
            <ul>
              <li>%haggle silent%</li>
              <li>%haggle silent%special requests%bold pinto%</li>
            </ul>
            <li>Match Search</li>
            <ul>
              <li>+"haggle silent" +"special requests" +"bold pinto"</li>
              <li>+"haggle silent"</li>
              <li>hagle~ AND scilent~</li>
            </ul>
            <li>Highlight and Match Search</li>
            <ul>
              <li>+"haggle silent" +"special requests" +"bold pinto"</li>
            </ul>
          </ul>
          <b>Note: </b>The API calls are visible in the network section of the browser developer toolkit; F12 starts this tool in Chrome.
        </li>
      </ul>
    </div>
  </div>
    <br>
  <div class="row">
    <div class = "col-sm-12 col-md-1 col-lg-2"></div>
    <div class = "col-sm-12 col-md-10 col-lg-8">
      <h5 class="text-center text-primary">SingleStore Documentation</h5>
      <ul class = "list-group">
        <li class="list-group-item list-group-item-primary">
          <a href = "https://docs.singlestore.com/managed-service/en/reference/sql-reference/full-text-search-functions/match.html" target="_blank">Full Text Search documentation</a>
          to setup and use full text searching in SingleStore.
        </li>
        <li class="list-group-item list-group-item-light">
          <a href = "https://www.singlestore.com/blog/full-text-search-in-memsql/" target="_blank">Full Text Search Blog</a>&nbsp;
          overview of Full Text Search.
        </li>
        <li class="list-group-item list-group-item-primary">
          <a href="https://docs.singlestore.com/managed-service/en/reference/data-api.html" target="_blank">Data API Reference</a>
          to setup and use the data API (Rest API)
        </li>
      </ul>
    </div>
  </div>
</div>
