<div style="padding: 10px; overflow: auto; height: 100%">
  <h4 class="text-center text-primary">About</h4><br>
  <div class="row">
    <div class = "col-sm-12 col-md-1 col-lg-2"></div>
    <div class = "col-sm-12 col-md-10 col-lg-8">
      <h5 class="text-center text-primary">Full Text Search Demo</h5>
      <ul class = "list-group">
        <li class="list-group-item list-group-item-primary">
          <a href = "https://github.com/JohnRTurner/JohnRTurner.github.io#readme" target="_blank">Setup and Code</a>&nbsp;
          explains how to create a SingleStoreDB Cloud for this demo.
        </li>
        <li class="list-group-item list-group-item-light">
          <ul>
            <li>Go to the <b>Setup</b> Tab, key in Database URL, UserName and Password fields.</li>
              <ul>
                <li>Optionally you can change the database name.</li>
                <li>Please leave the table name and column name as defaulted, unless you are planning to load and use your own data.</li>
              </ul>
            <li>Press the <b>Test and Save</b> button.  If the details were entered correctly and the database is running, it will display "Connection successful and settings are saved."</li>
            <li>If the table does not exist it will have a <b>Create All</b> button, which will require the following steps.</li>
              <ul>
                <li>Press the <b>Create All</b> button an it will create the database (if not present), the table, and a pipeline to load the table.</li>
                <li>Please be patient. Within a minute a status bar for the data load will appear.</li>
                <li>Searching on partial loads will work, but some results will be missing until it reaches 100%.</li>
              </ul>
          </ul>
        </li>
        <li class="list-group-item list-group-item-primary">
          Go to the <b>Search</b> Tab and test the searching.<br>
          <B>Example Searches</B>
          <ul>
            <li>Like Search</li>
            <ul>
              <li>%haggle silent%</li>
              <li>%haggle silent%special requests%bold pinto%</li>
            </ul>
            <li>Match Search</li>
            <ul>
              <li>+"haggle silent" +"special requests" +"bold pinto"</li>
              <li>+"haggle silent"</li>
              <li>hagle~ AND scilent~</li>
            </ul>
            <li>Highlight and Match Search</li>
            <ul>
              <li>+"haggle silent" +"special requests" +"bold pinto"</li>
            </ul>
          </ul>
          <b>Note: </b>The API calls are visible in the network section of the browser developer toolkit; F12 starts this tool in Chrome.
        </li>
      </ul>
    </div>
  </div>
    <br>
  <div class="row">
    <div class = "col-sm-12 col-md-1 col-lg-2"></div>
    <div class = "col-sm-12 col-md-10 col-lg-8">
      <h5 class="text-center text-primary">SingleStore Documentation</h5>
      <ul class = "list-group">
        <li class="list-group-item list-group-item-primary">
          <a href = "https://docs.singlestore.com/managed-service/en/reference/sql-reference/full-text-search-functions/match.html" target="_blank">Full Text Search documentation</a>
          to setup and use full text searching in SingleStore.
        </li>
        <li class="list-group-item list-group-item-light">
          <a href = "https://www.singlestore.com/blog/full-text-search-in-memsql/" target="_blank">Full Text Search Blog</a>&nbsp;
          overview of Full Text Search.
        </li>
        <li class="list-group-item list-group-item-primary">
          <a href="https://docs.singlestore.com/managed-service/en/reference/data-api.html" target="_blank">Data API Reference</a>
          to setup and use the data API (Rest API)
        </li>
      </ul>
    </div>
  </div>
</div>
