<div style="padding: 10px; overflow-y: auto; overflow-x: hidden;height: 80vh; width: 98%">
  <h4 class="text-center text-primary">Setup</h4><br>
  <div class="submit-form form-group form-inline ">
    <div class="row">
      <label for="url" class = "col-form-label col-sm-2 text-primary">Database URL</label>
      <div class="col-sm-8">
        <input
          type="text"
          class="form-control"
          id="url"
          required
          [(ngModel)]="url"
          name="url"
          [disabled]="!updatable"
          placeholder="SingleStore Database Web API URL. https://mydbname.com"
        />
      </div>
    </div>
    <div class="row">
      <label for="username" class = "col-form-label col-sm-2 text-primary">UserName</label>
      <div class="col-sm-8">
        <input
          type="text"
          class="form-control"
          id="username"
          required
          [(ngModel)]="username"
          name="username"
          [disabled]="!updatable"
          placeholder="SingleStore database username. admin"
        />
      </div>
    </div>
    <div class="row">
      <label for="password" class = "col-form-label col-sm-2 text-primary">Password</label>
      <div class="col-sm-8">
        <input
          type="password"
          class="form-control"
          id="password"
          required
          [(ngModel)]="password"
          name="password"
          [disabled]="!updatable"
          placeholder="SingleStore database password."
        />
      </div>
    </div>
    <div class="row">
      <label for="database" class = "col-form-label col-sm-2 text-primary">Database Name</label>
      <div class="col-sm-8">
        <input
          type="text"
          class="form-control"
          id="database"
          required
          [(ngModel)]="database"
          name="url"
          [disabled]="!updatable"
          placeholder="SingleStore database name. fulltext_db"
        />
      </div>
    </div>
    <div class="row">
      <label for="tableName" class = "col-form-label col-sm-2 text-primary">Table Name</label>
      <div class="col-sm-8">
        <input
          type="text"
          class="form-control"
          id="tableName"
          required
          [(ngModel)]="tableName"
          name="url"
          [disabled]="!updatable"
          placeholder="SingleStore table name. orders"
        />
      </div>
    </div>
    <div class="row">
      <label for="columnName" class = "col-form-label col-sm-2 text-primary">Columns Name</label>
      <div class="col-sm-8">
        <input
          type="text"
          class="form-control"
          id="columnName"
          required
          [(ngModel)]="columnName"
          name="url"
          [disabled]="!updatable"
          placeholder="SingleStore column name. fulltext_db"
        />
      </div>
    </div>
    <br>
    <div class = "row text-center">
      <div>
        <button (click)="testAndSave()" class="btn btn-primary float" [disabled]="!updatable">Test and Save</button> &nbsp;
      </div>
    </div>
  </div>
  <br>
  <div *ngIf="resultString" class="text-primary text-center">
    {{resultString}}
  </div>
  <div *ngIf="tschema && tschema.column_name === 'Not Found'">
    <br>
    <div *ngIf="tschema.database_name === 'Not Found'">
      <button (click)="createAll()" [disabled]="tableName !=='orders' || columnName !=='o_comment'" class="btn btn-primary float">Create All</button>
      <div *ngIf="tableName !=='orders' || columnName !=='o_comment'">Note: Only table orders with column o_comment can be auto generated.</div>
    </div>
    <div *ngIf="tschema.database_name !== 'Not Found' && tschema.table_name === 'Not Found'">
      <button (click)="createTable()" [disabled]="tableName !=='orders' || columnName !=='o_comment'" class="btn btn-primary float">Create Table</button>
      <div *ngIf="tableName !=='orders' || columnName !=='o_comment'">Note: Only table orders with column o_comment can be auto generated.</div>
    </div>
    <br>
    <table class="table table-striped table-bordered table-primary">
      <tbody>
      <tr>
        <td>Database {{database}}</td>
        <td>{{tschema.database_name}}</td>
        <td *ngIf="tableName ==='orders' && columnName ==='o_comment' && tschema.database_name === 'Not Found'"><code>create database {{database}}</code></td>
        <td *ngIf="tableName ==='orders' && columnName ==='o_comment' && tschema.database_name !== 'Not Found'"></td>
      </tr>
      <tr>
        <td>Table {{tableName}}</td>
        <td>{{tschema.table_name}}</td>
        <td *ngIf="tableName ==='orders' && columnName ==='o_comment'">
          <code>CREATE TABLE `orders` (`o_orderkey` bigint(11) NOT NULL,
          `o_custkey` int(11) NOT NULL,
           `o_orderstatus` char(1) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
          `o_totalprice` decimal(15,2) NOT NULL, `o_orderdate` date NOT NULL,
          `o_orderpriority` char(15) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
          `o_clerk` char(15) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
          `o_shippriority` int(11) NOT NULL,
          `o_comment` varchar(79) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
          SHARD KEY (`o_orderkey`) USING CLUSTERED COLUMNSTORE,
          unique key(o_orderkey) using hash,
          fulltext(o_comment))</code></td>
      </tr>
      <tr>
        <td>FullText Column {{columnName}}</td>
        <td>{{tschema.column_name}}</td>
        <td *ngIf="tableName ==='orders' && columnName ==='o_comment'">See Above.</td>
      </tr>
      <tr *ngIf="tableName ==='orders' && columnName ==='o_comment'" >
        <td>Pipeline tpch_100_orders</td>
        <td></td>
        <td *ngIf="tableName ==='orders' && columnName ==='o_comment'">
          <code>CREATE OR REPLACE PIPELINE tpch_100_orders
          AS LOAD DATA S3 'memsql-tpch-dataset/sf_100/orders/'
          config '{{ "{" }}"region":"us-east-1"{{ "}" }}'
          SKIP DUPLICATE KEY ERRORS INTO TABLE orders
          FIELDS TERMINATED BY '|' LINES TERMINATED BY '|\n'</code>
          <hr><code>START PIPELINE tpch_100_orders</code></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="tschema && tschema.column_name !== 'Not Found'" class="text-primary text-center">
    <br>
    Confirmed database, table and column with fulltext index are present.
  </div>
  <br>


  <div *ngIf="batchprog && batchprog.progress">
    <div class="text-center text-primary row">
       <div class="text-end col-2">{{batchprog.progress + '%'}} Loaded</div>
       <div class="progress bg-secondary progress-bar col-8" style="padding: 0">
         <div class="progress progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
              [style]="'width: ' + batchprog.progress + '%;'"></div>
       </div>
    </div>
    <br>
    <table class="table table-striped table-bordered table-primary table-responsive " style="max-width: 350px;margin-left: auto; margin-right: auto;">
      <thead><tr>
        <th colspan="2" class="text-center">Load Statistics</th>
      </tr>
      </thead>
      <tbody class="text-end">
        <tr>
          <td class="text-start">Rows Loaded</td>
          <td>{{batchprog.rows|number:'1.0-0'}}</td>
        </tr>
        <tr>
          <td class="text-start">Rows/Second</td>
          <td>{{batchprog.rowspersecond|number:'1.0-0'}}</td>
        </tr>
        <tr>
          <td class="text-start">Second to Load</td>
          <td>{{batchprog.seconds|number:'1.0-0'}}</td>
        </tr>
        <tr>
          <td class="text-start">Second Since Update</td>
          <td>{{batchprog.secondssinceupdate|number:'1.0-0'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
