<div style="height: 100vh;display: flex;flex-direction: column; overflow: hidden" >
  <div style="position: sticky; position: -webkit-sticky; top: 0; z-index: 1000;">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="index.html" class="navbar-brand">Full Text Search Demo</a>
      <div class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="search" class="nav-link">Search</a>
          </li>
          <li class="nav-item">
            <a routerLink="setup" class="nav-link">Setup</a>
          </li>
      </div>
    </nav>
  </div>
  <div style="flex-grow:1; overflow: hidden; width: 100%;">
    <router-outlet></router-outlet>
  </div>
</div>
