<div style="padding: 10px">
  <h4 class="text-center text-primary">Setup</h4><br>
  <div class="submit-form form-group form-inline ">
    <div class="row">
      <label for="url" class = "col-form-label col-sm-2 text-primary">Database URL</label>
      <div class="col-sm-8">
        <input
          type="text"
          class="form-control"
          id="url"
          required
          [(ngModel)]="url"
          name="url"
          placeholder="SingleStore Database Web API URL. https://mydbname.com"
        />
      </div>
    </div>
    <div class="row">
      <label for="username" class = "col-form-label col-sm-2 text-primary">UserName</label>
      <div class="col-sm-8">
        <input
          type="text"
          class="form-control"
          id="username"
          required
          [(ngModel)]="username"
          name="username"
          placeholder="SingleStore database username. admin"
        />
      </div>
    </div>
    <div class="row">
      <label for="password" class = "col-form-label col-sm-2 text-primary">Password</label>
      <div class="col-sm-8">
        <input
          type="password"
          class="form-control"
          id="password"
          required
          [(ngModel)]="password"
          name="password"
          placeholder="SingleStore database password."
        />
      </div>
    </div>
    <div class="row">
      <label for="database" class = "col-form-label col-sm-2 text-primary">Database Name</label>
      <div class="col-sm-8">
        <input
          type="text"
          class="form-control"
          id="database"
          required
          [(ngModel)]="database"
          name="url"
          placeholder="SingleStore database name. fulltext_db"
        />
      </div>
    </div>
    <div class="row">
      <label for="tableName" class = "col-form-label col-sm-2 text-primary">Table Name</label>
      <div class="col-sm-8">
        <input
          type="text"
          class="form-control"
          id="tableName"
          required
          [(ngModel)]="tableName"
          name="url"
          placeholder="SingleStore table name. orders"
        />
      </div>
    </div>
    <div class="row">
      <label for="columnName" class = "col-form-label col-sm-2 text-primary">Columns Name</label>
      <div class="col-sm-8">
        <input
          type="text"
          class="form-control"
          id="columnName"
          required
          [(ngModel)]="columnName"
          name="url"
          placeholder="SingleStore column name. fulltext_db"
        />
      </div>
    </div>

    <br>
    <div class = "row text-center">
      <div>
        <button (click)="testAndSave()" class="btn btn-primary float">Test and Save</button> &nbsp;
      </div>
    </div>
  </div>
  <div>
    {{this.resultString}}
  </div>
</div>
